h1{
    display: flex;
}
.body{
    background-image: url(/trust.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
ul{
    list-style-type: none;
}
ul li{
    font-size: 12px;
    font-style: italic;
}
/*list-style:none
*/
ol li{
    color: rgb(21, 255, 0);
    font-size: 12px;
}


