body{
    background-image: url(images/frederic.jpg);
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
}
ul li{
    font-size: 12px;
    font-style: italic;
}
/*list-style:none
*/
ol li{
    color: blue;
    font-size: 12px;
}


