*{
    margin: 0;
    padding: 0;
    background-image: url(good.jpg)
}
nav>a{
    text-align: left;
    padding: 16px 18px;
    font-size: medium;
    color: black;
}
nav{
    float:right;
}
nav>a:hover{
    background-color: rgb(226, 43, 150);
    color: black;
}
footer{
    color: black;
    margin-left: 3cm;
    align-items:left ;
    font-size: large;  
}




